bootstrap/netdisco-lookup-tables.sql filter=lfs diff=lfs merge=lfs -text
bootstrap/netdisco-mibs-snmp-object.sql filter=lfs diff=lfs merge=lfs -text
bootstrap/netdisco-mibs-snmp-object.sql.gz filter=lfs diff=lfs merge=lfs -text
